@import "@/styles/variables.scss";

.cardList {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: red;
  }
}
