@import "@/styles/variables.scss";

.card {
  border-radius: 5px;
  width: 502px;
  height: 184px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: $color-white;

  &__wrapper {
    padding: 20px;
  }

  &__header {
    margin-bottom: 20px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-price {
      font-size: $size-header;
      color: $color-blue;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-items {
      display: flex;
      gap: 20px;
    }

    &-item {
      width: 141px;
    }
  }

  &__item {
    &-title {
      font-size: $size-small;
      color: $color-gray;
    }

    &-info {
      font-size: $size-large;
      color: $color-black;
    }

    &-stops {
      display: flex;
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;

    &__body {
      &-item {
        width: 70px;
      }
    }
  }
}
