.app {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 16px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // width: 754px;
  }

  &__content {
    display: flex;
    gap: 20px;

    &-right {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__logo {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .app {
    &__content {
      flex-direction: column;
      justify-content: center;
    }
  }
}
