$color-blue: rgba(33, 150, 243, 1);
$color-black: rgba(74, 74, 74, 1);
$color-gray: rgba(160, 176, 185, 1);
$color-white: rgba(255, 255, 255, 1);

$size-small: 12px;
$size-medium: 13px;
$size-large: 14px;
$size-header: 24px;
